
<!--//appComponent :je suis sur ma page principale -->
<h1>Jouons au Timeline</h1>
<p>
 <button> <a routerLink= "">Revenir a la liste des Timeline</a></button>
</p>
<p>
<button> <a routerLink= "addtimeline">Ajouter un Timeline</a></button>
</p>

<!--pour appeller d'autres composants sur ma page principale , je met en place un routeur comme ci dessous-->
<!--au prealable creer les routes dans app.module.ts-->

<Section id ="zone d'affichage dynamique">

<router-outlet></router-outlet>

</Section>

