
body {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  color: coral;
}


table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
margin: auto;

}

th, td {
  padding: 5px;

}


/* De base */
#reponseCachée {
  background-color:coral;
}

/* Au survol */
#reponseCachée:hover {
  background-color:white;
  cursor:pointer;
}

#Reponsesitugalères{
  color: darkviolet;
}

